.Main {
    color: #FFFFFF;
    display: flex;
    margin: auto;
    flex-direction: column;
    font-family: Inter;
    padding: 20px;

}

.MyName {
    font-size: 28px;
    font-weight: 600;
}


.Description {
    font-size: 19px;
    font-weight: 400;
    color: rgb(181, 181, 181);
}

.Highlight {
    font-weight: 700;
    animation: color-change 4s infinite;
}


@keyframes color-change {
    0% {
        color: white;
    }

    25% {
        color: rgb(208, 255, 235);
    }

    50% {
        color: rgb(208, 227, 255);
    }

    75% {
        color: rgb(255, 178, 182);
    }

    100% {
        color: white;
    }
}