.Main {
    color: #ffffff;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 20px;

}

.MyName {
    font-size: 28px;
    color: white;
    font-weight: 600;
    animation: fadeIn 2s;
}


.Description {
    font-size: 19px;
    font-weight: 400;
    color: rgb(181, 181, 181);
    animation: fadeIn 2s;
}

.Highlight {
    font-weight: 700;
    animation: color-change 5s infinite;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes color-change {
    0% {
        color: white;
    }

    25% {
        color: rgb(190, 248, 223);
    }

    50% {
        color: rgb(192, 216, 252);
    }

    75% {
        color: rgb(252, 162, 166);
    }

    100% {
        color: white;
    }
}