.Nav {
    color: white;
    display: flex;
    padding: 20px;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    justify-content: space-between
}

.Pages,
.Links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.Page {
    width: auto;
    height: auto;
    cursor: pointer;
}


.Links {
    column-gap: 10px;

}