.Navbar {
    position: sticky;
    padding: 10px;
    background-color: black;
    top: 0;
    max-width: 600px;
    margin: auto;
}

.Nav {
    display: flex;
    padding: 20px;
    font-weight: 700;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
    color: white;
    background-color: rgb(24, 24, 24);
}

@media only screen and (max-width: 600px) {
    .Nav {
        padding: 18px;
    }
}

.Pages,
.Links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
}

.Link,
.Page a {
    width: auto;
    height: auto;
    cursor: pointer;
    color: rgb(181, 181, 181);
    text-decoration: none;
}

#highlight:hover,
#highlight:target,
#highlight:active,
#highlight:focus {
    color: white
}