.Nav {
    color: white;
    background-color: rgb(24, 24, 24);
    display: flex;
    padding: 20px;
    font-weight: 700;
    border-radius: 20px;
    justify-content: space-between
}

@media only screen and (max-width: 600px) {
    .Nav {
        padding: 24px;
    }
}

.Pages,
.Links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.Link,
.Page a {
    width: auto;
    height: auto;
    cursor: pointer;
    color: rgb(181, 181, 181);
    text-decoration: none;
}

#highlight:hover,
#highlight:target,
#highlight:active,
#highlight:focus {
    color: white
}

.Links {
    column-gap: 10px;
}