.Projects {
    color: white;
    justify-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    animation: fadeIn 2s;
}

.Title {
    font-size: 22px;
    font-weight: 600;
}

.Decription {
    font-size: medium;
    color: rgb(181, 181, 181);
}

.Project {
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(10, 10, 10);
    border-radius: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

.ProjectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;

}

@media only screen and (max-width: 600px) {
    .ProjectGrid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}